* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/*///////////////GLOBAL//////////////*/
.flex {
    display: flex;
    flex-wrap: wrap;
}
.space_between {
    justify-content: space-between;
  }





 /*///////////HEADER////////////////*/

 header {
    border-radius: 68px;
    border: 2px solid #FFF;
     background: linear-gradient(90deg, #E8EAF1 2.4%, rgba(235, 236, 240, 0.00) 98.82%);
     box-shadow: 8px 7px 21px 0px rgba(0, 0, 0, 0.15), -6px -7px 11px 0px rgba(255, 255, 255, 0.84);
     height: 83px;
  }