/*//////////////IMPORT//////////////*/

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
                    /* Weight :
                    Regular 400 
                    SemiBold 600 
                    Bold 700 */

/*///////////////GLOBAL//////////////*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Nunito", serif;
    font-weight: 400;
    color: #606060;
    list-style: none;
    text-decoration: none;
}

body {
  margin-top: 30px;
  background-color: #EAEBF2;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.container {
    max-width: 1000px;
    margin: auto;
}

.space_between {
    justify-content: space-between;
  }

.alignCenter {
    text-align: center;
}

.semibold {
    font-weight: 600;
}

.bold {
    font-weight: 700;
}
.regular {
    font-weight: 400;
}

.typoTimes {
    font-family: 'Times New Roman', Times, serif;
}

.btn_principal {
    border-radius: 68px;
    background: linear-gradient(90deg, #1A92CE 2.17%, #1D89BF 50.45%, #45ABDE 98.39%);
    box-shadow: -8px -8px 10px 0px #FFF, 6px 5px 10px 3px rgba(54, 54, 54, 0.24);
    color: #FFFFFF;
    padding: 12px 42px;
}

.btn_secondaire {
    border-radius: 31px;
border: 2px solid #FFF;
background: linear-gradient(95deg, #DCDDE2 4.48%, #E2E3E7 7.97%, #EBECF0 44.7%, #E4E6EB 44.7%);
box-shadow: -8px -8px 10px 0px #FFF, 6px 5px 10px 3px rgba(54, 54, 54, 0.24);
padding: 12px 42px;
}

.w100 {
    width: 100%;
}

.w20 {
  width: 20%;
}

.w30 {
  width: 30%;
}

.w50 {
    width: 50%;
}

.text_grey {
  color: #555770;
}

.font20 {
  font-size: 20px;
}

.font30 {
  font-size: 33px;
}

.bg_white {
  background-color: #FFFFFF;
  box-shadow: 0px 4px 10.9px 0px rgba(98, 94, 94, 0.25) inset;
}

  /*///////////HEADER////////////////*/

  header {
    border-radius: 68px;
    border: 2px solid #FFF;
     background: linear-gradient(90deg, #E8EAF1 2.4%, rgba(235, 236, 240, 0.00) 98.82%);
     box-shadow: 8px 7px 21px 0px rgba(0, 0, 0, 0.15), -6px -7px 11px 0px rgba(255, 255, 255, 0.84);
     height: 80px;
     align-items: center;
     padding-left: 22px;
     position: sticky;
     top: 30px;
     backdrop-filter: blur(7px);
  }

  header ul li {
    margin-right: 36px;
    color: #000;
    font-size: 16px;
    margin-top: 4px;
  }

  header h2 {
    color: #4D4D4D;
    font-family: "Times New Roman";
    font-size: 28px;
  }

  /*////////////HERO////////////*/

  h1 {
    font-size: 52px;
    line-height: 92.188%; /* 59px */
    color: #555770;
  }

  .hero {
    height: 100vh;
    margin-top: 25px;
  }

  .hero img {
    width: 38%;
    object-fit: cover;
  }

.contenu_hero {
  margin-left: 150px;
  font-size: 20px;
  padding-top: 100px;
  height: 75%;
}

.hero a {
  margin-right: 30px;
}

/*///////SECTION CONTEXTE////////*/

.contexte h3 {
text-align: center;
font-size: 30px;
line-height: 92.188%; /* 27.656px */
}

.contexte {
  padding-top: 100px;
}

/*//////SECTION ENGAGEMENTS////////*/

.engagements {
  padding-top: 100px;
  padding-bottom: 100px;
}

.engagements h3 {
  position: relative;
  bottom: 40px;
  font-size: 24px;
  padding-bottom: 50px;
}

.bulle {
  width: 160px;
  height: 160px;
  border-radius: 244px;
  background: #EBECF0;
  box-shadow: -10px -10px 13px 1px #FFF, 8px 8px 15px 0px rgba(0, 0, 0, 0.25);
}

.bulle p {
  font-size: 22px;
  font-weight: 600;
  color: #484848;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*////// SECTION ACCESSIBILITE//////////*/

.accessibilité h3 {
  font-size: 24px;
  padding-top: 50px;
  }


.accessibilité img {
  height: 535px;
  width: 275px;
}

.accessibilité p {
text-align: center;
font-size: 22px;
}

.accessibilité {
  padding-bottom: 60px;
}

/*////// SECTION CHIFFRES//////////*/

.chiffres {
  height: 90vh;
}

.chiffres h3 {
  font-size: 24px;
  padding-top: 50px;
  margin-bottom: 50px;
  }

.chiffres a {
    float: right;
    opacity: 50%;
    margin-top: 42px;
  }

.percent {
  font-size: 26px;
  margin-top: 20px;
}

.chiffres .bulle {
  margin-left: 20px;
}

.chiffres img {
  width: 70%;
  margin-top: 22px;
}

/*////// SECTION DEMO//////////*/

.video {
    object-fit: cover;
    width: 75%;
    border-radius: 55px;
}

.demo {
  width: 60vw;
  margin: auto;
}

.demo li {
font-size: 22px;
line-height: 100px; /* 312.5% */
color: #555770;
}

.sectiondemo {
  padding: 70px;
}


/*////// SECTION AVIS//////////*/

.avis h3 {
  font-size: 24px;
  padding-top: 50px;
  margin-bottom: 50px;
}

.avis img {
  top: 50;
  left: -50;
  transform: translate(-50,-50);
}

.card {
  width: 300px;
  height: 255px;
  border-radius: 30px;
  background: #EBECF0;
  box-shadow: -8px -8px 15px 0px rgba(255, 255, 255, 0.98), 9px 9px 19px -5px rgba(0, 0, 0, 0.25);
}

.card p {
flex-direction: column;
justify-content: center;
color: #000000;
font-size: 14px;
margin: auto;
padding: 50px;
padding-top: 85px;
}

